.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1  no-repeat center center;
    background-size: cover;
  }
  
  .social-icons {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .social-icons img {
    width: 25px;
    margin: 10px 0;
  }
  
  .content {
    text-align: center;
  }
  
  .content h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .btn {
    background-color: #f0b400;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  